[submodule "repo/backend"]
	path = repo/backend
	url = git@github.com:pcthuoc/be_autotimelapse.git
[submodule "repo/frontend"]
	path = repo/frontend
	url = git@github.com:pcthuoc/fe_autotimelapse.git
